@use "sass:map";

/* Déclaration de variables */

/*  Path */
$theme-name: "adelineGraphiste9"; // à mettre à jour
$path-assets: "/app/themes/" + $theme-name + "/resources/assets";
$path-fonts: $path-assets + "/fonts";
$path-image: $path-assets + "/images";

/*  COLORS */

// Colors : à supprimer ou modifier en fonction des couleurs de la maquette
$white: #fff;
$black: #373231;


$orange: #F9955A;
$beige: #FFBF9A;
$brown : #895440;
$blue: #083294;

// array colors
$colors: (
    "white": $white,
    "black": $black,
    "blue": $blue,
    "orange": $orange,
);

// Gray colors
$gray-100: #f5f5f5; // lightest
$gray-200: #ebebeb;
$gray-300: #f4f5f7; // light
$gray-400: #b9b8b8;
$gray-500: #adb5bd;
$gray-600: #666; // default
$gray-700: #424141;
$gray-800: #333;
$gray-900: #868686; // dark

$grayscales: (
    "white": $white,
    "lightest": $gray-100,
    "light": $gray-400,
    "gray": $gray-600,
    "dark": $gray-900,
    "black": $black,
);

$primary: $orange;
$secondary: $beige;
$tertiary: $brown;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "info": #529acc,
    "success": #69b23a,
    "warning": #f77f00,
    "error": #E52B02,
);

$info: map.get($theme-colors, "info");
$success: map.get($theme-colors, "success");
$warning: map.get($theme-colors, "warning");
$error: map.get($theme-colors, "error");

// Body
$app-bg: $white !default;
// $app-color: set-color($app-bg);
$app-color: #373231;
$app-font-size: 16px !default; // !! ne pas y toucher (accessibilité) !!

// media queries breakpoints
$media-breakpoints: (
    mobile:     320px,  // 20em
    tablet:     640px,  // 40em
    laptop:     960px,  // 60em // breakpoint où la sidebar se positionne à gauche où à droite (si le site contient une sidebar...)
    desktop:    1280px, // 80em
);

$mobile: map.get($media-breakpoints, mobile);
$tablet: map.get($media-breakpoints, tablet);
$laptop: map.get($media-breakpoints, laptop);
$desktop: map.get($media-breakpoints, desktop);


$container-sizes: (
    defaut: 1064px,
    small:  480px,
    medium: 800px,
    large:  1440px,
) !default;

$section-gaps: (
    min: 60px,
    max: 100px,
);

$section-gap: var(--section-gap);

/*  Typographies */
$font-text: "Coming Soon", "Arial", sans-serif;
$font-title: "Coming Soon", "Arial", sans-serif;
$font-size-default: 16px !default;

/* Transition duration */
$time-xs: 100ms;
$time-sm: 200ms;
$time-md: 400ms;
$time-lg: 800ms;
$time-xl: 1200ms;
$time-xx: 2400ms;

/* Admin bar */
$adminbar-height: var(--wp-admin--admin-bar--height, 0px);

/* header heights */
$header-heights: (
    defaut: 60px,
    desktop: 100px,
);

$header-height: var(--header-height);

// Toute modification de cette variable impactera directement le @mixin h1-font-size();
$h1-font-size: (
    min: 32px,
    max: 40px,
);

// Toute modification de cette variable impactera directement le @mixin h2-font-size();
$h2-font-size: (
    min: 26px,
    max: 32px,
);

// Toute modification de cette variable impactera directement le @mixin h3-font-size();
$h3-font-size: (
    min: 20px,
    max: 24px,
);

// Toute modification de cette variable impactera directement le @mixin h4-font-size();
$h4-font-size: (
    min: 18px,
    max: 20px,
);

// Toute modification de cette variable impactera directement le @mixin h5-font-size();
$h5-font-size: (
    min: 16px,
    max: 18px,
);

// Toute modification de cette variable impactera directement le @mixin h6-font-size();
$h6-font-size: (
    min: 14px,
    max: 16px,
);


$deg-logo : -7deg;
