@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xnyuca');
  src:  url('fonts/icomoon.eot?xnyuca#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xnyuca') format('truetype'),
    url('fonts/icomoon.woff?xnyuca') format('woff'),
    url('fonts/icomoon.svg?xnyuca#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-underline:before {
  content: "\e900";
  color: #f9955a;
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-checkbox-circle:before {
  content: "\e906";
}
.icon-close-circle-fill:before {
  content: "\e907";
}
.icon-close-circle:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-earth:before {
  content: "\e90a";
}
.icon-external-link:before {
  content: "\e90b";
}
.icon-facebook-box:before {
  content: "\e90c";
}
.icon-facebook-circle:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-image:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-linkedin-box:before {
  content: "\e912";
}
.icon-mail:before {
  content: "\e915";
}
.icon-map-pin:before {
  content: "\e916";
}
.icon-movie:before {
  content: "\e918";
}
.icon-play:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e91b";
}
.icon-share:before {
  content: "\e91c";
}
.icon-snapchat:before {
  content: "\e91d";
}
.icon-trash:before {
  content: "\e91f";
}
.icon-user:before {
  content: "\e921";
}
.icon-youtube-fill:before {
  content: "\e923";
}
.icon-youtube:before {
  content: "\e924";
}
