/* !! se rendre dans head.blade.php et supprimer les google fonts !! */

@font-face {
    font-family: 'Satoshi';
    src: url($path-fonts + '/satoshi/Satoshi-Medium.woff2') format('woff2'),
    url($path-fonts + '/satoshi/Satoshi-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
