/* !! se rendre dans head.blade.php et supprimer les google fonts !! */

@font-face {
    font-family: 'ComingSoon';
    src: url($path-fonts + '/Coming_Soon/ComingSoon-Regular.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
