.projects {
  background-color: white;
  padding-bottom: 50px;

  h2 {
    padding: 30px;
    text-align: center;
    color: $primary;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
  }

  .grid > .item:nth-last-child(1):nth-child(odd) {
    display: none;
    //grid-column: 1 / -1;
    //width: 50%;
    //justify-self: center;
  }

  .item {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
    @include box-shadow();
  }

  .cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 30px auto 0;
  }
}

@media (min-width: $tablet) {
  .projects {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }

    .grid > .item:nth-last-child(1):nth-child(odd) {
      display: block;
      //grid-column: inherit;
      //width: 100%;
    }

    .cta {
      width: 20%;
    }
  }
}
